.hidden {
  display: none;
}
.col {
  float: left;
  width: 200px;
}
.col-2 {
  float: left;
  width: 400px;
}
.scope-branch {
  margin-left: 30px;
  background-color:rgba(0,0,0,0.06);
}
body {
  margin: 10px;
}
.well-top {
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}
.well-bottom {
  border-radius: 0 0 4px 4px;
  border-top: none;
  background-color: #E0E0E0;
}
