.col {
  float: left;
  width: 200px;
}
.col-2 {
  float: left;
  width: 400px;
}
.scope-branch {
  margin-left: 30px;
  background-color: rgba(0,0,0,0.06);
}


.well-top {
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}
.well-bottom {
  border-radius: 0 0 4px 4px;
  border-top: none;
  background-color: #E0E0E0;
}

.bat-nav-check {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-radius: 4px 4px 0 0;

  padding: 8px 12px 8px 12px;
  margin-right: 2px;
  line-height: 18px;
}
.bat-nav-check input[type="checkbox"] {
  margin: 0;
}

bat-scope-tree .selected {
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}

/*
 * Slider widget style based on jquery-ui-bootstrap
 * http://addyosmani.github.com/jquery-ui-bootstrap
 */

.ui-slider {
  position: relative;
  text-align: left;
  height: .8em;

  border-radius: 4px;
  border: 1px solid #aaaaaa;

  background: #ffffff;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;  
  top: -.3em;
  margin-left: -.6em;
  cursor: default;
  border-radius: 4px;

  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  /*background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);*/

  font-size: 13px;
  line-height: normal;
  
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  
  -webkit-transition: 0.1s linear background-image;
  transition: 0.1s linear background-image;
  
  overflow: visible;
}

.ui-slider .ui-slider-range {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;

  background-position: 0 0;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  /*background-image: linear-gradient(top, #049cdb, #0064cd);*/
}



/* Mimic Chrome's Devtools */

/* reset */

* {
  box-sizing: border-box;
}

/* TODO: defaults for other platforms?? */
body {
  cursor: default;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 12px;
  margin: 0;
  tab-size: 4;
  -webkit-user-select: none;
  color: rgb(48, 57, 66);
  font-family: 'Lucida Grande', sans-serif;
}

img {
  -webkit-user-drag: none;
}

/* split */


.split-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.outline-disclosure,
.outline-disclosure ol {
  list-style-type: none;
  -webkit-padding-start: 12px;
  margin: 0;
}

.split-view-vertical > .split-view-contents-first {
  left: 0;
}

.split-view-vertical > .split-view-contents {
  top: 0;
  bottom: 0;
}

.split-view-contents {
  position: absolute;
  overflow: auto;
  cursor: default;
}

.split-view-vertical > .split-view-sidebar.split-view-contents-second:not(.maximized) {
  border-left: 1px solid rgb(64%, 64%, 64%);
}

.split-view-vertical > .split-view-contents-second {
  right: 0;
}

.split-view-vertical > .split-view-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 1500;
  cursor: ew-resize;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar-pane-title {
  position: relative;
  background: rgb(230, 230, 230);
  height: 20px;
  padding: 0 5px;
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 1px solid rgb(189, 189, 189);
  line-height: 18px;
  background-origin: padding;
  background-clip: padding;
  margin-top: -1px;
}

.sidebar-pane-title.expanded::before {
  background-position: -20px -96px;
}

.sidebar-pane-title::before {
  background-position: -4px -96px;
}

.sidebar-pane-title::before {
  background-image: url(../img/statusbarButtonGlyphs.png);
  background-size: 320px 120px;
  opacity: 0.5;
  float: left;
  width: 11px;
  height: 11px;
  margin-right: 2px;
  content: "a";
  color: transparent;
  position: relative;
  top: 3px;
}

.sidebar-pane-toolbar {
  line-height: 18px;
  left: 0;
  right: 4px;
  top: 0;
  height: 20px;
  position: absolute;
  pointer-events: none;
}

.sidebar-pane-toolbar > * {
  pointer-events: auto;
}

.sidebar-pane-subtitle {
  position: absolute;
  right: 0;
}

.sidebar-pane-subtitle input, .section > .header input[type=checkbox] {
  font-size: inherit;
  height: 1em;
  width: 1em;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0.25em;
  vertical-align: bottom;
}


/* sidebar tree */

.sidebar-tree,
.sidebar-tree .children {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-tree-item {
  position: relative;
  height: 36px;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 1px;
  line-height: 34px;
  border-top: 1px solid transparent;
}

.sidebar-tree-item.selected {
  color: white;
  border-top: 1px solid rgb(151, 151, 151);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(180, 180, 180)), to(rgb(138, 138, 138)));
  text-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
  background-origin: padding-box;
  background-clip: padding-box;
}

:focus .sidebar-tree-item.selected {
  border-top: 1px solid rgb(68, 128, 200);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(92, 147, 213)), to(rgb(21, 83, 170)));
}

.sidebar-tree-item .icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 1px;
  margin-right: 3px;
}

.sidebar-tree-item .titles {
  position: relative;
  top: 5px;
  line-height: 12px;
  padding-bottom: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-tree-item .titles.no-subtitle {
  top: 10px;
}

.sidebar {
  background-color: rgb(232, 232, 232);
}

.split-view-vertical > .split-view-sidebar.split-view-contents-first:not(.maximized) {
  border-right: 1px solid rgb(64%, 64%, 64%);
}

.profile-launcher-view-tree-item > .icon {
  padding: 15px;
  background-image: url(../img/toolbarIcons.png);
  background-position-x: -160px;
}

li .status {
  float: right;
  height: 16px;
  margin-top: 9px;
  margin-left: 4px;
  line-height: 1em;
}

li .status:empty {
  display: none;
}



/* */

.source-code {
  font-family: Menlo, monospace;
  font-size: 11px;
  /*white-space: pre-wrap;*/
}

.source-code li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.outline-disclosure,
.outline-disclosure ol {
  list-style-type: none;
  -webkit-padding-start: 12px;
  margin: 0;
}

.outline-disclosure ol.children.expanded {
  display: block;
}

.outline-disclosure > ol {
  position: relative;
  padding: 2px 6px !important;
  margin: 0;
  cursor: default;
  min-width: 100%;
}

.outline-disclosure li {
  padding: 0 0 0 14px;
  margin-top: 1px;
  margin-left: -2px;
  word-wrap: break-word;
}

.outline-disclosure li.selected .selection {
  display: block;
  background-color: rgb(212, 212, 212);
}

.elements-tree-outline li.parent::before {
  top: 0 !important;
}
.outline-disclosure li.parent::before {
  -webkit-mask-position: -4px -96px;
  background-color: rgb(110, 110, 110);
}
.outline-disclosure li.parent::before {
  -webkit-user-select: none;
  -webkit-mask-image: url(../img/statusbarButtonGlyphs.png);
  -webkit-mask-size: 320px 120px;
  content: "a";
  color: transparent;
  text-shadow: none;
  position: relative;
  top: 2px;
  margin-right: 1px;
  height: 12px;
}
.outline-disclosure li.parent::before {
  float: left;
  width: 8px;
  padding-right: 2px;
}

.webkit-html-tag {
  color: rgb(136, 18, 128);
}

.webkit-html-attribute-name {
  color: rgb(153, 69, 0);
}

.webkit-html-attribute-value {
  color: rgb(26, 26, 166);
}

.webkit-html-doctype {
  color: rgb(192, 192, 192);
}

.webkit-html-comment {
  color: rgb(35, 110, 37);
}




/* bat-json-tree */

bat-json-tree {
  font-size: 11px !important;
  font-family: Menlo, monospace;
}

bat-json-tree .name {
  color: rgb(136, 19, 145);
}

bat-json-tree .console-formatted-string {
  color: rgb(196, 26, 22);
}

bat-json-tree
  .console-formatted-null,
  .console-formatted-undefined {
    color: rgb(128, 128, 128);
  }

bat-json-tree .console-formatted-number {
  color: rgb(28, 0, 207);
}

bat-json-tree
  .console-formatted-object,
  .console-formatted-node,
  .console-formatted-array {
    color: #222;
  }

bat-json-tree .properties-tree li {
  margin-left: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-user-select: text;
  cursor: default;
  padding-top: 2px;
  line-height: 12px;
  list-style: none;
}

bat-json-tree .properties-tree li.parent::before {
  -webkit-user-select: none;
  background-image: url(../img/statusbarButtonGlyphs.png);
  background-size: 320px 120px;
  opacity: 0.5;
  content: "a";
  width: 8px;
  float: left;
  margin-right: 4px;
  color: transparent;
  text-shadow: none;
}

bat-json-tree .properties-tree li.parent::before {
  background-position: -4px -96px;
}

bat-json-tree .properties-tree li.parent.expanded::before {
  background-position: -20px -96px;
}
