<!doctype html>
<html ng-csp ng-app="ngHintUI">
<head>
  <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">

</head>
<body>
  <div ng-controller="HintController">
    <div class="row" style="padding:10px">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li ng-class="{active: module === modName}" ng-repeat="(modName, value) in messageData" ng-click="setModule(modName)">
            <a data-toggle="tab">
              {{modName}}
            </a>
          </li>
        </ul>
        <div class="row" style="padding: 5px 0px">
          <div class="col-md-2">
            <!--
            <ul class="nav nav-pills nav-stacked">
              <li ng-class="{active: type === label}" ng-repeat="label in labels" ng-click="setType(label)">
                <a class="offsetTab">{{label}}</a>
              </li>
            </ul>
            -->
            <!--
            <div ng-show="suppressedMessagesLength">
              <hr>
              <h5 class="offsetTab">Suppressed Errors:</h5>
              <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="(key, message) in suppressedMessages">
                  <div class="suppressedMessage">
                    <div class='alert alert-warning condenseAlert'>
                      {{message}}

                      <button type="button" class="close" style="margin-top:-5px" ng-click="unsuppressMessage(key)">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            -->
          </div>
          <div class="col-md-10">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
              <input class="form-control" type="text" placeholder="Search Messages" ng-model="search">
            </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Module</th>
                  <th>Message</th>
                  <th>Severity</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="hint in hints">
                  <td>{{$index + 1}}</td>
                  <td>{{hint.module}}</td>
                  <td>{{hint.message}}</td>
                  <td>{{hint.severity}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- scripts -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>

  <script src="hintApp.js"></script>

</body>
</html>
