

/* watcher-list */

.watcher-list {
  font-size: 11px !important;
  font-family: Menlo, monospace;
  display: block;
  margin-left: 5px;
}

.watcher-list .name {
  color: rgb(136, 19, 145);
}

.watcher-list .console-formatted-string {
  color: rgb(196, 26, 22);
}

.watcher-list
  .console-formatted-null,
  .console-formatted-undefined {
    color: rgb(128, 128, 128);
  }

.watcher-list .console-formatted-number {
  color: rgb(28, 0, 207);
}

.watcher-list
  .console-formatted-object,
  .console-formatted-node,
  .console-formatted-array {
    color: #222;
  }

.watcher-list li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-user-select: text;
  cursor: default;
  padding-top: 2px;
  line-height: 12px;
  list-style: none;
}

.watcher-list li.parent {
  margin-left: -15px;
}
.watcher-list li.parent li {
  padding-left: 28px;
}

.watcher-list li.parent::before {
  -webkit-user-select: none;
  background-image: url(../../img/statusbarButtonGlyphs.png);
  background-size: 320px 120px;
  opacity: 0.5;
  content: "a";
  width: 8px;
  float: left;
  margin-right: 2px;
  color: transparent;
  text-shadow: none;
  margin-top: -2px;
}

.watcher-list li.parent::before {
  background-position: -4px -96px;
}

.watcher-list li.parent.expanded::before {
  background-position: -20px -96px;
}
