
/* Stolen from WebKit Inspector CSS */

.source-code {
  font-size: 11px !important;
  font-family: Menlo, monospace;
}

.source-code li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.outline-disclosure,
.outline-disclosure ol {
  list-style-type: none;
  -webkit-padding-start: 12px;
  margin: 0;
}

.outline-disclosure ol.children.expanded {
  display: block;
}

.outline-disclosure > ol {
  position: relative;
  padding: 2px 6px !important;
  margin: 0;
  cursor: default;
  min-width: 100%;
}

.outline-disclosure li {
  padding: 0 0 0 14px;
  margin-top: 1px;
  margin-left: -2px;
  word-wrap: break-word;
}

.outline-disclosure li.selected .selection {
  display: block;
  background-color: rgb(212, 212, 212);
}

.elements-tree-outline li.parent::before {
  top: 0 !important;
}
.outline-disclosure li.parent::before {
  -webkit-user-select: none;
  background-image: url(../../img/statusbarButtonGlyphs.png);
  background-size: 320px 144px;
  opacity: 0.5;
  float: left;
  width: 8px;
  height: 10px;
  content: "a";
  color: transparent;
  margin-left: 3px;
  margin-right: 4px;
  position: relative;
  top: 2px;
}

.outline-disclosure li.parent::before {
  float: left;
  width: 8px;
  padding-right: 2px;
}

.webkit-html-tag {
  color: rgb(136, 18, 128);
}

.webkit-html-attribute-name {
  color: rgb(153, 69, 0);
}

.webkit-html-attribute-value {
  color: rgb(26, 26, 166);
}

.webkit-html-doctype {
  color: rgb(192, 192, 192);
}

.webkit-html-comment {
  color: rgb(35, 110, 37);
}


.outline-disclosure .selection {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 13px;
  z-index: -1;
}

.outline-disclosure .selection:not(.selected):hover {
    display: block;
    left: 3px;
    right: 3px;
    background-color: rgba(56, 121, 217, 0.1);
    border-radius: 5px;
}

.outline-disclosure .selection.selected {
    display: block;
    background-color: rgb(212, 212, 212);
}


:focus .sidebar-tree-item.selected {
    border-top: 1px solid rgb(68, 128, 200);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(92, 147, 213)), to(rgb(21, 83, 170)));
}

/* */

/*
bat-scope-tree .selected {
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}
*/
