<div ng-controller="ModelCtrl">

  <div class="span6">
    <h2>Scopes</h2>
    <div ng-show="roots.length > 1">
      <label for="select-root">Root
        <select
          ng-options="root.toString() for root in roots"
          ng-model="selectedRoot"></select>
      </label>
    </div>
    <pre>
      <bat-scope-tree
        val="tree"
        inspect="inspect"
        select="select"
        selected-scope="selectedScope"
        edit="edit"></bat-scope-tree>
    </pre>
  </div>

  <div class="span6">
    <h2>Models<span ng-show="selectedScope"> for ({{selectedScope}})</span></h2>
    <bat-json-tree val="model"></bat-json-tree>
  </div>
  <div class="span6">
    <button class="btn" ng-click="enableInspector()">Enable Inspector</button>
    <button class="btn" ng-click="inspectElement()">Inspect Element</button>
  </div>
</div>
