<div ng-controller="ModelCtrl">

  <div class="span6">
    <h2>Scopes</h2>
    <div ng-show="roots.length > 1">
      <label for="select-root">Root
        <select
          ng-options="root.toString() for root in roots"
          ng-model="selectedRoot"></select>
      </label>
    </div>
    <pre>
      <bat-scope-tree
        val="tree"
        inspect="inspect"
        select="select"
        selected-scope="selectedScope"
        edit="edit"></bat-scope-tree>
    </pre>
  </div>

  <div class="span6 models-pane">
    <h2>Models<span ng-show="selectedScope"> for ({{selectedScope}})</span></h2>
	<div class="btn-bar">
		<button class="btn-trigger models-pin-trigger" ng-click="togglePin()" title="Toggle fixed positon on/off">&nbsp;</button>
		<button class="btn-trigger inspector-trigger" ng-click="enableInspector()" title="Enable Inspector"></button>
	</div>
    <div bat-json-tree class="json-tree" val="model"></div>
  </div>
</div>
