body {
  background-color: rgb(255,255,255);
}

.col {
  float: left;
  width: 200px;
}
.col-2 {
  float: left;
  width: 400px;
}
.scope-branch {
  margin-left: 30px;
  background-color: rgba(0,0,0,0.06);
}

/* TODO: Figure out why Angular's CSS isn't loading */
.ng-hide {
  display: none!important;
}

.well-top {
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}
.well-bottom {
  border-radius: 0 0 4px 4px;
  border-top: none;
  background-color: #E0E0E0;
}

.bat-nav-check {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-radius: 4px 4px 0 0;

  padding: 8px 12px 8px 12px;
  margin-right: 2px;
  line-height: 18px;
}
.bat-nav-check input[type="checkbox"] {
  margin: 0;
}

/* Mimic Chrome's Devtools */
/* split */


.split-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.outline-disclosure,
.outline-disclosure ol {
  list-style-type: none;
  -webkit-padding-start: 12px;
  margin: 0;
}

.split-view-vertical > .split-view-contents-first {
  left: 0;
}

.split-view-vertical > .split-view-contents {
  top: 0;
  bottom: 0;
}

.split-view-contents {
  position: absolute;
  overflow: auto;
  cursor: default;
}

.split-view-vertical > .split-view-sidebar.split-view-contents-second:not(.maximized) {
  border-left: 1px solid rgb(64%, 64%, 64%);
}

.sidebar-pane-stack > .sidebar-pane.visible:nth-last-of-type(1) {
  border-bottom: 1px solid rgb(189, 189, 189);
}

.split-view-vertical > .split-view-contents-second {
  right: 0;
}

.split-view-vertical > .split-view-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 1500;
  cursor: ew-resize;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar-pane-title {
  position: relative;
  background: rgb(230, 230, 230);
  height: 20px;
  padding: 0 5px;
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 1px solid rgb(189, 189, 189);
  line-height: 18px;
  background-origin: padding;
  background-clip: padding;
  margin-top: -1px;
}

.sidebar-pane-title::before {
  background-image: url(../img/statusbarButtonGlyphs.png);
  background-size: 320px 144px;
  background-position: -4px -96px;
  opacity: 0.5;
  float: left;
  width: 11px;
  height: 11px;
  margin-right: 2px;
  content: "a";
  color: transparent;
  position: relative;
  top: 3px;
}

.sidebar-pane-title.expanded::before {
  background-position: -20px -96px;
}

.sidebar-pane-toolbar {
  line-height: 18px;
  left: 0;
  right: 4px;
  top: 0;
  height: 20px;
  position: absolute;
  pointer-events: none;
}

.sidebar-pane-toolbar > * {
  pointer-events: auto;
}

.sidebar-pane-subtitle {
  position: absolute;
  right: 0;
}

.sidebar-pane-subtitle input, .section > .header input[type=checkbox] {
  font-size: inherit;
  height: 1em;
  width: 1em;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0.25em;
  vertical-align: bottom;
}


/* sidebar tree */

.sidebar-tree,
.sidebar-tree .children {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-tree-item {
  position: relative;
  height: 36px;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 1px;
  line-height: 34px;
  border-top: 1px solid transparent;
}

.sidebar-tree-item.selected {
  color: white;
  border-top: 1px solid rgb(151, 151, 151);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(180, 180, 180)), to(rgb(138, 138, 138)));
  text-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
  background-origin: padding-box;
  background-clip: padding-box;
}

body:focus .sidebar-tree-item.selected {
  border-top: 1px solid rgb(68, 128, 200);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(92, 147, 213)), to(rgb(21, 83, 170)));
}

.sidebar-tree-item .icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 1px;
  margin-right: 3px;
}

.sidebar-tree-item .titles {
  position: relative;
  top: 5px;
  line-height: 12px;
  padding-bottom: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-tree-item .titles.no-subtitle {
  top: 10px;
}

.sidebar {
  background-color: rgb(232, 232, 232);
}

.split-view-vertical > .split-view-sidebar.split-view-contents-first:not(.maximized) {
  border-right: 1px solid rgb(64%, 64%, 64%);
}

.profile-launcher-view-tree-item > .icon {
  padding: 15px;
  background-image: url(../img/toolbarIcons.png);
  background-position-x: -160px;
}

li .status {
  float: right;
  height: 16px;
  margin-top: 9px;
  margin-left: 4px;
  line-height: 1em;
}

li .status:empty {
  display: none;
}

/* audit stuff */

.audit-result-view .severity-warning {
  background-position: -246px -96px;
}

/*@media (-webkit-min-device-pixel-ratio: 1.5)
.audit-result-view .severity-severe,
.audit-result-view .severity-warning,
.audit-result-view .severity-info {
  background-image: url(../img/statusbarButtonGlyphs_2x.png);
}*/

.audit-result-tree,
.audit-result-tree ol {
  list-style-type: none;
  -webkit-padding-start: 12px;
  margin: 0;
}
.audit-result-tree {
  line-height: 16px;
  -webkit-user-select: text;
}

.audit-result-tree li.parent {
  margin-left: -12px;
}

.audit-result-tree li {
  padding: 0 0 0 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  word-wrap: break-word;
  margin-left: -2px;
}

.audit-result {
  font-weight: bold;
}

.audit-result-tree li.parent::before {
  background-position: -4px -96px;
}

.audit-result-view .severity-severe,
.audit-result-view .severity-warning,
.audit-result-view .severity-info {
  background-image: url(../img/statusbarButtonGlyphs.png);
  background-size: 320px 144px;
  display: inline-block;
  width: 10px;
  margin-right: -10px;
  height: 10px;
  position: relative;
  left: -28px;
  margin-top: 3px;
}

/* Performance tab */
.perf {
  overflow: scroll;
  margin-left: 15px;
  margin-right: 15px;
}

.perf.disabled {
  opacity: 0.5;
}

.perf .stats {
  height: 100px;
}

.perf .averages {
  vertical-align: top;
}

.perf .left {
  display: inline-block;
  width: 45%;
}
.perf .right {
  display: inline-block;
  width: 45%;
}
.perf pre {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* for the canvas */
.graph {
  background: black;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  color: #666;
  font-family: 'Courier';
  width: 80%;
  z-index: 9999;
  text-align: right;
}